{% extends "admin/change_form.html" %}
{% load i18n %}

{% block title %}Validate CSV file{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     {% if has_change_permission %}<a href="../../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
     <a href="../">{{ instance|truncatewords:"18" }}</a> &rsaquo;
     Validate
</div>
{% endif %}{% endblock %}

{% block content %}
{% if csv_forms %}
<div class="spreadsheet">
<p>{{ invalid_rows }} invalid row{{ invalid_rows|pluralize }} out of {{ rows }} total.</p>
<table>
    <tr>
    {% for field in csv_forms.0 %}
        <th>{{ field.label }}</th>
    {% endfor %}
    </tr>
    {% for form in csv_forms %}
        <tr>
        {% for field in form %}
            <td>
                {{ field }}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
</div>
<p><input type="submit" name="validate" value="Validate" /></p>
{% endif %}
{% endblock %}
